<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<wicket:panel xmlns:wicket="http://wicket.apache.org">
		<div class="container-fluid">
			<hr>
			<div class="text-muted">
				<small>FSDev &#169; 2017</small>
				<small wicket:id="version" class="pull-right">[version]</small>
				<br>
				<small wicket:id="appMode" class="text-danger">DEVELOPMENT Mode active!</small>
				<small class="pull-right">build: <abbr wicket:id="build">[timestamp]</abbr></small>
			</div>
		</div>
	</wicket:panel>
</body>
</html>